<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../css/home.css" />
  <link rel="stylesheet" href="../css/css/all.min.css">
  <link rel="stylesheet" href="../css/flaticon.css">
  <link rel="stylesheet" href="../css/open-iconic-bootstrap.min.css">
  <link rel="stylesheet" href="../css/ionicons.min.css">
  <link rel="stylesheet" href="../css/style.css">
  <!-- <link rel="stylesheet" href="../css/bootstrap/bootstrap-grid.css"> -->
  <link rel="stylesheet" href="../css/bootstrap/bootstrap-reboot.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia" />
  <script src="https://kit.fontawesome.com/dad8a5aed6.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <title>Oussama | Shopping </title>
</head>

<body>
  <!-- _____________nav bar____________________ -->
  <div class="containerr">
      <span class='cloud-1'></span>
      <span class='cloud-2'></span>
      <span class='cloud-3'></span>
      <span class='cloud-4'></span>
      <span class='cloud-5'></span>
      <header>
        <nav id='navbar'>
          <!-- <input id="baresicon" type="checkbox" style='display:block;'/> -->
          <div class="logo">
            <img src="../picture/shirt.png" alt="" />
          </div>
         
      
          <ul id="nav_ul">
            <li><a style="color: #e25b01">Home</a></li>
            <!-- <li><a href="">Categories</a></li> -->
            <li class="dropdown">
              <a href="javascript:void(0)" class="dropbtn">Categories</a>
            </li>
            <li><a href="../html/contact.html">Contact Us</a></li>
            <li><a href="../html/login.html">Login</a></li>
            <li><a href="../html/signup.html">Sign up</a></li>
            <li>
              <a href="../html/account.html"></a>
            </li>
          </ul>
          <div class="serche">
              <i id='search_ic' class="fas fa-search"></i>
          </div>
          <div class="search">
            <input class="search_ipt" type="text" placeholder="search..."/>
            <i id="times" class='fas fa-times'></i>
          </div>
          <label class="nav_bares" style="margin: 2rem 0;" for="baresicon"><i class="fas fa-bars"></i></label>

        </nav>
      </header>
    <div class="wrapper">
      <div class="left">
        <div class="title">
          <h2>Online Shopping</h2>
        </div>
        <div class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia 
          iure delectus deleniti itaque temporibus quae possimus rem impedit incidunt labore.</div>
        <button class="primary_btn" type='button'>Shop Now</button>
      </div>
      <div class="right"></div>
      <div class="bottom_flish">
        <i class="fas fa-angle-double-down"></i>
      </div>
    </div>
   
  </div>
  <div class='clouds'>
    <img src='../picture/clouds.png'/>
  </div>
  <!-- ________________gallery____________ -->
  <!-- <div class="gallery">
    <img src="../picture/3504-amazon-to-open-its-first-ever-clothing-store-at-a-california-mall.jpg" alt="" />
    <img src="../picture/6073bfa78b16df641639c6ced35dd189.jpg" alt="" />
    <img src="../picture/istockphoto-1345291289-170667a.jpg" alt="" />
    <img src="../picture/ladies-clothing-banner.jpg" alt="" />
  </div> -->
  <div class="clothes_title">
    <h2>Choose Your Next Clothes</h2>
    <p>You are Here to Buy New Clothes , Don't You , ahh Got you son of b b b babe hh
      you though i would say bitch maybe Next Time bla bla bla  bla bla bla  bla bla bla  bla bla bla  bla bla bla  bla bla bla 
    </p>
  </div>
  <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true" space-between="30"
    centered-slides="true" autoplay-delay="2500" autoplay-disable-on-interaction="false">
    <swiper-slide><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fs3.amazonaws.com%2Fbtoimage%2Fprism-thumbnails%2Farticles%2F20150219-InVintageWeTrust-2048-1.jpg-resize_then_crop-_frame_bg_color_FFF-h_630-gravity_center-q_70-preserve_ratio_true-w_1200_.jpg&f=1&nofb=1&ipt=41a4aeeaf3a807ca8833b43d4a213d70c317a8636fcda22abf012c3b14827636&ipo=images" alt="" /></swiper-slide>
    <swiper-slide><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.fibre2fashion.com%2Farticleresources%2Fimages%2F64%2F6328%2Fbest-buy-for-branded-clothes.jpg&f=1&nofb=1&ipt=b970850f47f20ecf54b089aa546bd7a3280d8bc235ff0000809c01253e07e0bf&ipo=images" alt="" /></swiper-slide>
    <swiper-slide><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Frialtoliving.com%2Fimg%2Fphotos%2Ffashion-02.jpg&f=1&nofb=1&ipt=65ce192b160e618d346b4014853c00bd0e8f5d88184555afae0dc9040fd255c0&ipo=images" alt="" /></swiper-slide>
    <!-- <swiper-slide>Slide 4</swiper-slide>
    <swiper-slide>Slide 5</swiper-slide>
    <swiper-slide>Slide 6</swiper-slide>
    <swiper-slide>Slide 7</swiper-slide>
    <swiper-slide>Slide 8</swiper-slide>
    <swiper-slide>Slide 9</swiper-slide> -->
  </swiper-container>
  <!-- ________________models_________________ -->
  <div class="clothes_title">
    <h2>Start By Those Articles</h2>
  </div>
  <div class="holder">
   
    <div class="holder_flexer">
        <div class="clothing">
            <div class="rank">1</div>
            <div class="front">
              <img src="../picture/drees.png" alt="" />
              <h3 class="name">Cloth Name</h3>
              <div class="stats">
                <p class="buyers">23.3K</p>
                <div class="viewers">
                  <img src="../picture/viewers.png" alt="">
                </div>
              </div>
            </div>
            <div class="back">
              <div class="buyers_info">
                <p class="buyer_stats">234k<span>Watching</span></p>
                <p class="buyer_stats">21.3k<span>Buyers</span></p>
              </div>
              <button class="btns">See More Articles</button>
              <div class="Top_Buyres">
                <div class="buyers">
                  <div class="icon"><img src="../picture/1.png" alt=""></div>
                  <p class="name">Osm</p>
                  <p class="number">23.5k</p>
                </div>
                <div class="buyers">
                  <div class="icon"><img src="../picture/issam.jpeg" alt=""></div>
                  <p class="name">Issam</p>
                  <p class="number">23.5k</p>
                </div>
                <div class="buyers">
                  <div class="icon"><img src="../picture/osm.png" alt=""></div>
                  <p class="name">Osm</p>
                  <p class="number">23.5k</p>
                </div>
              </div>
            </div>
            <div class="background"></div>
          </div>
          <div class="clothing">
              <div class="rank">1</div>
              <div class="front">
                <img src="../picture/pngimg.com - coat_PNG1.png" alt="" />
                <h3 class="name">Cloth Name</h3>
                <div class="stats">
                  <p class="buyers">23.3K</p>
                  <div class="viewers">
                    <img src="../picture/viewers.png" alt="">
                  </div>
                </div>
              </div>
              <div class="back">
                <div class="buyers_info">
                  <p class="buyer_stats">234k<span>Watching</span></p>
                  <p class="buyer_stats">21.3k<span>Buyers</span></p>
                </div>
                <button class="btns">See More Articles</button>
                <div class="Top_Buyres">
                  <div class="buyers">
                    <div class="icon"><img src="../picture/1.png" alt=""></div>
                    <p class="name">Osm</p>
                    <p class="number">23.5k</p>
                  </div>
                  <div class="buyers">
                    <div class="icon"><img src="../picture/issam.jpeg" alt=""></div>
                    <p class="name">Issam</p>
                    <p class="number">23.5k</p>
                  </div>
                  <div class="buyers">
                    <div class="icon"><img src="../picture/osm.png" alt=""></div>
                    <p class="name">Osm</p>
                    <p class="number">23.5k</p>
                  </div>
                </div>
              </div>
              <div class="background"></div>
            </div>
          <div class="clothing">
              <div class="rank">1</div>
              <div class="front">
                <img src="../picture/pngimg.com - coat_PNG14.png" alt="" />
                <h3 class="name">Cloth Name</h3>
                <div class="stats">
                  <p class="buyers">23.3K</p>
                  <div class="viewers">
                    <img src="../picture/viewers.png" alt="">
                  </div>
                </div>
              </div>
              <div class="back">
                <div class="buyers_info">
                  <p class="buyer_stats">234k<span>Watching</span></p>
                  <p class="buyer_stats">21.3k<span>Buyers</span></p>
                </div>
                <button class="btns">See More Articles</button>
                <div class="Top_Buyres">
                  <div class="buyers">
                    <div class="icon"><img src="../picture/1.png" alt=""></div>
                    <p class="name">Osm</p>
                    <p class="number">23.5k</p>
                  </div>
                  <div class="buyers">
                    <div class="icon"><img src="../picture/issam.jpeg" alt=""></div>
                    <p class="name">Issam</p>
                    <p class="number">23.5k</p>
                  </div>
                  <div class="buyers">
                    <div class="icon"><img src="../picture/osm.png" alt=""></div>
                    <p class="name">Osm</p>
                    <p class="number">23.5k</p>
                  </div>
                </div>
              </div>
              <div class="background"></div>
            </div>
            <div class="clothing">
                <div class="rank">1</div>
                <div class="front">
                  <img src="../picture/pngimg.com - coat_PNG19.png" alt="" />
                  <h3 class="name">Cloth Name</h3>
                  <div class="stats">
                    <p class="buyers">23.3K</p>
                    <div class="viewers">
                      <img src="../picture/viewers.png" alt="">
                    </div>
                  </div>
                </div>
                <div class="back">
                  <div class="buyers_info">
                    <p class="buyer_stats">234k<span>Watching</span></p>
                    <p class="buyer_stats">21.3k<span>Buyers</span></p>
                  </div>
                  <button class="btns">See More Articles</button>
                  <div class="Top_Buyres">
                    <div class="buyers">
                      <div class="icon"><img src="../picture/1.png" alt=""></div>
                      <p class="name">Osm</p>
                      <p class="number">23.5k</p>
                    </div>
                    <div class="buyers">
                      <div class="icon"><img src="../picture/issam.jpeg" alt=""></div>
                      <p class="name">Issam</p>
                      <p class="number">23.5k</p>
                    </div>
                    <div class="buyers">
                      <div class="icon"><img src="../picture/osm.png" alt=""></div>
                      <p class="name">Osm</p>
                      <p class="number">23.5k</p>
                    </div>
                  </div>
                </div>
                <div class="background"></div>
              </div>
              <div class="clothing">
                  <div class="rank">1</div>
                  <div class="front">
                    <img src="../picture/pngimg.com - coat_PNG2.png" alt="" />
                    <h3 class="name">Cloth Name</h3>
                    <div class="stats">
                      <p class="buyers">23.3K</p>
                      <div class="viewers">
                        <img src="../picture/viewers.png" alt="">
                      </div>
                    </div>
                  </div>
                  <div class="back">
                    <div class="buyers_info">
                      <p class="buyer_stats">234k<span>Watching</span></p>
                      <p class="buyer_stats">21.3k<span>Buyers</span></p>
                    </div>
                    <button class="btns">See More Articles</button>
                    <div class="Top_Buyres">
                      <div class="buyers">
                        <div class="icon"><img src="../picture/1.png" alt=""></div>
                        <p class="name">Osm</p>
                        <p class="number">23.5k</p>
                      </div>
                      <div class="buyers">
                        <div class="icon"><img src="../picture/issam.jpeg" alt=""></div>
                        <p class="name">Issam</p>
                        <p class="number">23.5k</p>
                      </div>
                      <div class="buyers">
                        <div class="icon"><img src="../picture/osm.png" alt=""></div>
                        <p class="name">Osm</p>
                        <p class="number">23.5k</p>
                      </div>
                    </div>
                  </div>
                  <div class="background"></div>
                </div>
                 <div class="clothing">
    <div class="rank">1</div>
    <div class="front">
      <img src="../picture/pngimg.com - coat_PNG3.png" alt="" />
      <h3 class="name">Cloth Name</h3>
      <div class="stats">
        <p class="buyers">23.3K</p>
        <div class="viewers">
          <img src="../picture/viewers.png" alt="">
        </div>
      </div>
    </div>
    <div class="back">
      <div class="buyers_info">
        <p class="buyer_stats">234k<span>Watching</span></p>
        <p class="buyer_stats">21.3k<span>Buyers</span></p>
      </div>
      <button class="btns">See More Articles</button>
      <div class="Top_Buyres">
        <div class="buyers">
          <div class="icon"><img src="../picture/1.png" alt=""></div>
          <p class="name">Osm</p>
          <p class="number">23.5k</p>
        </div>
        <div class="buyers">
          <div class="icon"><img src="../picture/issam.jpeg" alt=""></div>
          <p class="name">Issam</p>
          <p class="number">23.5k</p>
        </div>
        <div class="buyers">
          <div class="icon"><img src="../picture/osm.png" alt=""></div>
          <p class="name">Osm</p>
          <p class="number">23.5k</p>
        </div>
      </div>
    </div>
    <div class="background"></div>
  </div>
   <div class="clothing">
    <div class="rank">1</div>
    <div class="front">
      <img src="../picture/pngimg.com - coat_PNG4.png" alt="" />
      <h3 class="name">Cloth Name</h3>
      <div class="stats">
        <p class="buyers">23.3K</p>
        <div class="viewers">
          <img src="../picture/viewers.png" alt="">
        </div>
      </div>
    </div>
    <div class="back">
      <div class="buyers_info">
        <p class="buyer_stats">234k<span>Watching</span></p>
        <p class="buyer_stats">21.3k<span>Buyers</span></p>
      </div>
      <button class="btns">See More Articles</button>
      <div class="Top_Buyres">
        <div class="buyers">
          <div class="icon"><img src="../picture/1.png" alt=""></div>
          <p class="name">Osm</p>
          <p class="number">23.5k</p>
        </div>
        <div class="buyers">
          <div class="icon"><img src="../picture/issam.jpeg" alt=""></div>
          <p class="name">Issam</p>
          <p class="number">23.5k</p>
        </div>
        <div class="buyers">
          <div class="icon"><img src="../picture/osm.png" alt=""></div>
          <p class="name">Osm</p>
          <p class="number">23.5k</p>
        </div>
      </div>
    </div>
    <div class="background"></div>
  </div>
   <div class="clothing">
    <div class="rank">1</div>
    <div class="front">
      <img src="../picture/pngimg.com - hoodie_PNG10.png" alt="" />
      <h3 class="name">Cloth Name</h3>
      <div class="stats">
        <p class="buyers">23.3K</p>
        <div class="viewers">
          <img src="../picture/viewers.png" alt="">
        </div>
      </div>
    </div>
    <div class="back">
      <div class="buyers_info">
        <p class="buyer_stats">234k<span>Watching</span></p>
        <p class="buyer_stats">21.3k<span>Buyers</span></p>
      </div>
      <button class="btns">See More Articles</button>
      <div class="Top_Buyres">
        <div class="buyers">
          <div class="icon"><img src="../picture/1.png" alt=""></div>
          <p class="name">Osm</p>
          <p class="number">23.5k</p>
        </div>
        <div class="buyers">
          <div class="icon"><img src="../picture/issam.jpeg" alt=""></div>
          <p class="name">Issam</p>
          <p class="number">23.5k</p>
        </div>
        <div class="buyers">
          <div class="icon"><img src="../picture/osm.png" alt=""></div>
          <p class="name">Osm</p>
          <p class="number">23.5k</p>
        </div>
      </div>
    </div>
    <div class="background"></div>
  </div>
   <div class="clothing">
    <div class="rank">1</div>
    <div class="front">
      <img src="../picture/pngimg.com - hoodie_PNG19.png" alt="" />
      <h3 class="name">Cloth Name</h3>
      <div class="stats">
        <p class="buyers">23.3K</p>
        <div class="viewers">
          <img src="../picture/viewers.png" alt="">
        </div>
      </div>
    </div>
    <div class="back">
      <div class="buyers_info">
        <p class="buyer_stats">234k<span>Watching</span></p>
        <p class="buyer_stats">21.3k<span>Buyers</span></p>
      </div>
      <button class="btns">See More Articles</button>
      <div class="Top_Buyres">
        <div class="buyers">
          <div class="icon"><img src="../picture/1.png" alt=""></div>
          <p class="name">Osm</p>
          <p class="number">23.5k</p>
        </div>
        <div class="buyers">
          <div class="icon"><img src="../picture/issam.jpeg" alt=""></div>
          <p class="name">Issam</p>
          <p class="number">23.5k</p>
        </div>
        <div class="buyers">
          <div class="icon"><img src="../picture/osm.png" alt=""></div>
          <p class="name">Osm</p>
          <p class="number">23.5k</p>
        </div>
      </div>
    </div>
    <div class="background"></div>
  </div>
   <div class="clothing">
    <div class="rank">1</div>
    <div class="front">
      <img src="../picture/pngimg.com - hoodie_PNG2.png" alt="" />
      <h3 class="name">Cloth Name</h3>
      <div class="stats">
        <p class="buyers">23.3K</p>
        <div class="viewers">
          <img src="../picture/viewers.png" alt="">
        </div>
      </div>
    </div>
    <div class="back">
      <div class="buyers_info">
        <p class="buyer_stats">234k<span>Watching</span></p>
        <p class="buyer_stats">21.3k<span>Buyers</span></p>
      </div>
      <button class="btns">See More Articles</button>
      <div class="Top_Buyres">
        <div class="buyers">
          <div class="icon"><img src="../picture/1.png" alt=""></div>
          <p class="name">Osm</p>
          <p class="number">23.5k</p>
        </div>
        <div class="buyers">
          <div class="icon"><img src="../picture/issam.jpeg" alt=""></div>
          <p class="name">Issam</p>
          <p class="number">23.5k</p>
        </div>
        <div class="buyers">
          <div class="icon"><img src="../picture/osm.png" alt=""></div>
          <p class="name">Osm</p>
          <p class="number">23.5k</p>
        </div>
      </div>
    </div>
    <div class="background"></div>
  </div>
   <div class="clothing">
    <div class="rank">1</div>
    <div class="front">
      <img src="../picture/pngimg.com - hoodie_PNG7.png" alt="" />
      <h3 class="name">Cloth Name</h3>
      <div class="stats">
        <p class="buyers">23.3K</p>
        <div class="viewers">
          <img src="../picture/viewers.png" alt="">
        </div>
      </div>
    </div>
    <div class="back">
      <div class="buyers_info">
        <p class="buyer_stats">234k<span>Watching</span></p>
        <p class="buyer_stats">21.3k<span>Buyers</span></p>
      </div>
      <button class="btns">See More Articles</button>
      <div class="Top_Buyres">
        <div class="buyers">
          <div class="icon"><img src="../picture/1.png" alt=""></div>
          <p class="name">Osm</p>
          <p class="number">23.5k</p>
        </div>
        <div class="buyers">
          <div class="icon"><img src="../picture/issam.jpeg" alt=""></div>
          <p class="name">Issam</p>
          <p class="number">23.5k</p>
        </div>
        <div class="buyers">
          <div class="icon"><img src="../picture/osm.png" alt=""></div>
          <p class="name">Osm</p>
          <p class="number">23.5k</p>
        </div>
      </div>
    </div>
    <div class="background"></div>
  </div>
   <div class="clothing">
    <div class="rank">1</div>
    <div class="front">
      <img src="../picture/pngimg.com - suit_PNG8127.png" alt="" />
      <h3 class="name">Cloth Name</h3>
      <div class="stats">
        <p class="buyers">23.3K</p>
        <div class="viewers">
          <img src="../picture/viewers.png" alt="">
        </div>
      </div>
    </div>
    <div class="back">
      <div class="buyers_info">
        <p class="buyer_stats">234k<span>Watching</span></p>
        <p class="buyer_stats">21.3k<span>Buyers</span></p>
      </div>
      <button class="btns">See More Articles</button>
      <div class="Top_Buyres">
        <div class="buyers">
          <div class="icon"><img src="../picture/1.png" alt=""></div>
          <p class="name">Osm</p>
          <p class="number">23.5k</p>
        </div>
        <div class="buyers">
          <div class="icon"><img src="../picture/issam.jpeg" alt=""></div>
          <p class="name">Issam</p>
          <p class="number">23.5k</p>
        </div>
        <div class="buyers">
          <div class="icon"><img src="../picture/osm.png" alt=""></div>
          <p class="name">Osm</p>
          <p class="number">23.5k</p>
        </div>
      </div>
    </div>
    <div class="background"></div>
  </div>
    </div>
  </div>

  <!-- _______________links of home pages_______________ -->
  <div class="clothes_title">
    <h2 style='font-size:3.4rem'>Our Partners</h2>
  </div>
  <div class="partners">
    <div class="partners_companies">
      <swiper-container class="mySwiper" id="mySwiper" init="true">
        <swiper-slide class='slider' style='margin:0;'><img src="../picture/adidas.png" alt=""></swiper-slide>
        <swiper-slide class='slider' style='margin:0;'><img src="../picture/decatlone.png" alt=""></swiper-slide>
        <swiper-slide class='slider' style='margin:0;'><img src="../picture/hm.png" alt=""></swiper-slide>
        <swiper-slide class='slider' style='margin:0;'><img src="../picture/nike.png" alt=""></swiper-slide>
        <swiper-slide class='slider' style='margin:0;'><img src="../picture/puma.png" alt=""></swiper-slide>
        <swiper-slide class='slider' style='margin:0;'><img src="../picture/gucci.png" alt=""></swiper-slide>
        <swiper-slide class='slider' style='margin:0;'><img src="../picture/supreme.png" alt=""></swiper-slide>
        <swiper-slide class='slider' style='margin:0;'><img src="../picture/zara.png" alt=""></swiper-slide>
    </swiper-container>
    </div>
    <div class='cloud_partners'>
      <img src='../picture/clouds.png'/>
    </div>
  </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <!-- <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div> -->
   </div>
  <!-- _________________footer_________________ -->
  <div class='cloud_partners footer_img'>
    <img src='../picture/footer_img.png'/>
  </div>
  <footer class="ftco-footer ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">About</h2>
              <p>A Moroccan clothing company selling fashionable and stylish garments with a high focus on quality and attention to small details, catering to various tastes and occasions</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="https://twitter.com/"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="https://web.facebook.com/maicle.oussama.9"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="https://www.instagram.com/oussama_vom/"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-4">
              <h2 class="ftco-heading-2">Links</h2>
              <ul class="list-unstyled">
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Home</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>
                  Categories </a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Contact us</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Login</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Sign up</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Categories</h2>
              <ul class="list-unstyled">
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Men</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Women</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Kids</a></li>
               
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Animals</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Have a Questions?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">Ait ourir marrakech Morocco</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+212 6970-42868</span></a></li>
	                <li><a href="mailto:githubosm@gmail.com"><span class="icon icon-envelope"></span><span class="text">githubosm@gmail.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <p>
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" ></i> by <a href="https://uknoow.me" target="_blank">OSM ben</a>
  </p>
          </div>
        </div>
      </div>
    </footer>
<script src="../javascript/home.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script> -->
<script src="../package/js/swiper.min.js"></script>
<script>
let zbi = document.querySelector('.nav_bares');
let drma = document.getElementById('nav_ul');

zbi.addEventListener('click', () => {
  zbi.className='fas fa-times';
  drma.classList.add('down');
})</script>
</body>

</html>